$primaryBlue: #2b9dff;
$lightDark: #202427;

// Global
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: $primaryBlue;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

.btnOutline {
  display: block;
  text-decoration: none;
  color: $primaryBlue;
  border: 2px solid $primaryBlue;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 3rem;
}

.btnFilled {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: $primaryBlue;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 3rem;
}

// Nav
nav {
  line-height: 150px;
  text-align: right;

  a {
    text-decoration: none;
    color: $lightDark;
    font-size: 2rem;
    font-weight: 700;

    &:first-child {
      float: left;
    }

    img {
      vertical-align: middle;
    }

    span {
      text-transform: uppercase;
      background-color: $primaryBlue;
      padding: .5rem 1.5rem;
      border-radius: 14px;
      font-weight: 400;
      color: #fff;
      margin-left: .7rem;
    }
  }
}

// Header
header {
  height: 1000px;
  min-height: 1000px;
  padding: 0 5%;
  background-image: url(../images/background_header.png);
  background-repeat: no-repeat;
  background-position: top right;

  h1 {
    width: 40%;
    margin: 14rem 0 0 0;
  }
}

// Team
.team {
  text-align: center;
  margin: 10rem 0 3rem 0;
  padding: 0 5%;
  background-image: url(../images/background_team.png);
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    width: 50%;
    margin: 0 auto 3rem auto;
  }

  .members {
    display: flex;
    justify-content: center;

    .person {
      margin: 0 3rem;
      color: $lightDark;

      h3 {
        margin-bottom: .5rem;
      }
    }
  }
}

// About
.about {
  padding: 0 5%;
  background-image: url(../images/background_about.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80%;
  height: 900px;
  min-height: 900px;

  h1 {
    margin-bottom: 3rem;
    padding-top: 30rem;
  }

  .icons img {
    margin-right: 3rem;
  }

  h1, .icons {
    margin-left: 50%;
  }
}

// Call to action
.callToAction {
  text-align: center;
  padding: 20rem 5% 20rem 5%;
  background-image: url(../images/background_calltoaction.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;

  h1, a {
    display: inline-block;
    margin: 0 6rem;
    vertical-align: middle;
  }
}

// Footer
footer {
  padding: 0 5%;
  margin-bottom: 4rem;
  color: $primaryBlue;

  p, .footerPages {
    display: inline-block;
  }

  .footerPages {
    float: right;

    a {
      text-decoration: none;
      font-weight: 400;
      color: inherit;
      margin-left: 3rem;
    }
  }
}

// Responsive
@media only screen and (max-width: 1000px) {
  header {
    height: 1600px;
    min-height: 1600px;
    background-image: url(../images/mobile_background_header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;

    h1 {
      width: 100%;
    }
  }

  .team {
    margin: 3rem 0 3rem 0;
    background-image: url(../images/mobile_background_team.png);
    background-position: top;

    h1 {
      width: 100%;
    }
  }

  .about {
    background-image: url(../images/mobile_background_about.png);
    background-size: contain;
    height: 900px;
    min-height: 900px;
    overflow-y: visible;

    h1 {
      padding-top: 90rem;
    }

    h1, .icons {
      margin-left: 0;
    }
  }

  .callToAction {
    margin-top: 25rem;
    padding: 15rem 5% 15rem 5%;
    background-size: 70%;

    h1, a {
      margin-bottom: 3rem;
    }
  }

  footer {
    text-align: center;

    .footerPages {
      visibility: hidden;
    }

    p, .footerPages {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 1300px;
    min-height: 1300px;

    h1 {
      margin: 1rem 0 0 0;
    }
  }

  .about h1 {
    padding-top: 80rem;
  }

  .members {
    flex-direction: column;

    .person {
      margin-top: 3rem;
    }
  }
}